@using BlazorApp1.Models
<tr>
    <td>@device.DeviceId</td>
    <td>
        <div class="d-flex align-items-center">
            @if (device.Status == "Connected")
            {
                <div class="dot online"></div>
            }
            else
            {
                <div class="dot offline"></div>
            }
            <div class="ms-2">@device.Status</div>
       </div>
    </td>
    <td>@device.Placement</td>
    <td>@device.SensorType</td>
    <td>@device.LastUpdated.Value.ToLocalTime()</td>
    <td>Temperature: @device.Temperature C, Humidity: @device.Humidity%</td>
    <td>Alert: @device.Alert</td>
    <td><i class="fa-solid fa-triangle-exclamation"></i></td>
    <td>
        <i class="fa-solid fa-play-pause">&nbsp;</i>
        <i class="fa-solid fa-pen-to-square"></i>
    </td>
</tr>

@code {
    [Parameter]
    public DeviceItem? device { get; set; }
   
}
